.logo {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week5/logo-ANSWER.svg);
    display: block;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.sidebar{
  width: 20%;
}

.headshot {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.menu-list-selected {
  border-left: 4px solid #2A8356;
  color: #2A8356;
}

.menu-list {
  padding: 4px 0;
}

.menu-list:hover {
  border-left: 4px solid #2A8356;
}



